@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
  }

  .carousel-container {
    overflow: hidden;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
  }

  .carousel-container:hover .control,
  .carousel-container:focus-within .control {
    opacity: 1;
    pointer-events: auto;
  }

  .carousel-track {
    display: flex;
    white-space: nowrap;
    will-change: transform;
  }

  .carousel-track img {
    height: 80px;
    margin: 0 20px;
    flex-shrink: 0;
  }

  .control {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
    width: 26px;
    height: 100%;
  }

  .arrow.left {
    left: 0;
  }

  .arrow.right {
    right: 0;
  }

  .pause-control-wrapper {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .pause-control-wrapper button {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pause-control-wrapper svg {
    width: 16px;
    height: auto;
    fill: #333;
  }

  @media (min-width: 834px) {
    .platform-content {
      max-width: 754px;
    }

    .mob-coverage-map-container {
      min-width: 417px;
      max-height: 558px;
    }

    .mob-coverage-map {
      width: 165%;
    }
  }

  @media (min-width: 1024px) {
    .platform-content {
      max-width: 944px;
    }

    .mob-coverage-map-container {
      min-width: 560px;
      max-height: 591px;
    }

    .mob-coverage-map {
      width: 140%;
    }
  }

  @media (min-width: 1440px) {
    .platform-content {
      max-width: 1200px;
    }

    .mob-coverage-map-container{
      display: none;
    }

    .coverage-map-container {
      display: block;
      min-width: 640px;
    }

    .coverage-map {
      width: 160%;
    }
  }

  @media (min-width: 1728px) {
    .coverage-map-container {
      min-width: 740px;
    }

    .coverage-map {
      width: 140%;
    }
  }