*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.relative {
  position: relative;
}

.top-\[28px\] {
  top: 28px;
}

.top-\[32px\] {
  top: 32px;
}

.m-4 {
  margin: 1rem;
}

.m-\[2px\] {
  margin: 2px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[40px\] {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mb-\[13px\] {
  margin-bottom: 13px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[24px\] {
  margin-bottom: 24px;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[4px\] {
  margin-bottom: 4px;
}

.mb-\[8px\] {
  margin-bottom: 8px;
}

.ml-\[4px\] {
  margin-left: 4px;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-\[40px\] {
  margin-right: 40px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[12px\] {
  margin-top: 12px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[190px\] {
  height: 190px;
}

.h-\[240px\] {
  height: 240px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[60px\] {
  height: 60px;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-\[791px\] {
  max-height: 791px;
}

.min-h-\[42px\] {
  min-height: 42px;
}

.min-h-\[60px\] {
  min-height: 60px;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[113px\] {
  width: 113px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[21px\] {
  width: 21px;
}

.w-\[241px\] {
  width: 241px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[335px\] {
  width: 335px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[48px\] {
  width: 48px;
}

.w-\[61px\] {
  width: 61px;
}

.w-\[70px\] {
  width: 70px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-\[100px\] {
  min-width: 100px;
}

.min-w-\[335px\] {
  min-width: 335px;
}

.min-w-\[35px\] {
  min-width: 35px;
}

.min-w-\[42px\] {
  min-width: 42px;
}

.min-w-\[473px\] {
  min-width: 473px;
}

.min-w-\[60px\] {
  min-width: 60px;
}

.max-w-5xl {
  max-width: 64rem;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[1285px\] {
  max-width: 1285px;
}

.max-w-\[200px\] {
  max-width: 200px;
}

.max-w-\[329px\] {
  max-width: 329px;
}

.max-w-\[375px\] {
  max-width: 375px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[585px\] {
  max-width: 585px;
}

.max-w-\[600px\] {
  max-width: 600px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.max-w-\[738px\] {
  max-width: 738px;
}

.max-w-\[750px\] {
  max-width: 750px;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[13px\] {
  gap: 13px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[8px\] {
  gap: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[35px\] {
  border-radius: 35px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-b-\[77px\] {
  border-bottom-right-radius: 77px;
  border-bottom-left-radius: 77px;
}

.border {
  border-width: 1px;
}

.border-\[\#9192A1\] {
  --tw-border-opacity: 1;
  border-color: rgb(145 146 161 / var(--tw-border-opacity, 1));
}

.border-\[\#A7A9B4\] {
  --tw-border-opacity: 1;
  border-color: rgb(167 169 180 / var(--tw-border-opacity, 1));
}

.bg-\[\#00000033\] {
  background-color: #00000033;
}

.bg-\[\#009B79\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 155 121 / var(--tw-bg-opacity, 1));
}

.bg-\[\#00A3BA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 163 186 / var(--tw-bg-opacity, 1));
}

.bg-\[\#5C0000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(92 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#9E2A2F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(158 42 47 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E87722\] {
  --tw-bg-opacity: 1;
  background-color: rgb(232 119 34 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f1f1f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 243 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\/img\/garden-header\.png\)\] {
  background-image: url(/img/garden-header.png);
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-\[\#9E2A2F\] {
  --tw-gradient-from: #9E2A2F var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(158 42 47 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#5C0000\] {
  --tw-gradient-to: #5C0000 var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-\[\#9E2A2FCC\] {
  fill: #9E2A2FCC;
}

.fill-current {
  fill: currentColor;
}

.p-2 {
  padding: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[16px\] {
  padding: 16px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[24px\] {
  padding: 24px;
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[31px\] {
  font-size: 31px;
}

.text-\[39px\] {
  font-size: 39px;
}

.text-\[41px\] {
  font-size: 41px;
}

.text-\[49px\] {
  font-size: 49px;
}

.font-extrabold {
  font-weight: 800;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-\[15\.6px\] {
  line-height: 15.6px;
}

.leading-\[15px\] {
  line-height: 15px;
}

.leading-\[18\.2px\] {
  line-height: 18.2px;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[29px\] {
  line-height: 29px;
}

.leading-\[35px\] {
  line-height: 35px;
}

.leading-\[37\.2px\] {
  line-height: 37.2px;
}

.leading-\[46\.8px\] {
  line-height: 46.8px;
}

.leading-\[49\.2px\] {
  line-height: 49.2px;
}

.leading-\[58\.8px\] {
  line-height: 58.8px;
}

.text-\[\#002B3C\] {
  --tw-text-opacity: 1;
  color: rgb(0 43 60 / var(--tw-text-opacity, 1));
}

.text-\[\#1C6380\] {
  --tw-text-opacity: 1;
  color: rgb(28 99 128 / var(--tw-text-opacity, 1));
}

.text-\[\#2E3033\] {
  --tw-text-opacity: 1;
  color: rgb(46 48 51 / var(--tw-text-opacity, 1));
}

.text-\[\#2e3033\] {
  --tw-text-opacity: 1;
  color: rgb(46 48 51 / var(--tw-text-opacity, 1));
}

.text-\[\#4A1740\] {
  --tw-text-opacity: 1;
  color: rgb(74 23 64 / var(--tw-text-opacity, 1));
}

.text-\[\#5C0000\] {
  --tw-text-opacity: 1;
  color: rgb(92 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#861766\] {
  --tw-text-opacity: 1;
  color: rgb(134 23 102 / var(--tw-text-opacity, 1));
}

.text-\[\#9E2A2F\] {
  --tw-text-opacity: 1;
  color: rgb(158 42 47 / var(--tw-text-opacity, 1));
}

.text-\[\#EC4F2E\] {
  --tw-text-opacity: 1;
  color: rgb(236 79 46 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.carousel-container {
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-container:hover .control,
  .carousel-container:focus-within .control {
  opacity: 1;
  pointer-events: auto;
}

.carousel-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.carousel-track img {
  height: 80px;
  margin: 0 20px;
  flex-shrink: 0;
}

.control {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  width: 26px;
  height: 100%;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.pause-control-wrapper {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.pause-control-wrapper button {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pause-control-wrapper svg {
  width: 16px;
  height: auto;
  fill: #333;
}

.mob-coverage-map-container {
  max-width: 330px;
  max-height: 339px;
}

.mob-coverage-map {
  width: 165%;
}

/* @media (min-width: 768px) {
    .platform-content {
      max-width: 754px;
    }

    .mob-coverage-map-container {
      min-width: 417px;
      max-height: 558px;
    }

    .mob-coverage-map {
      width: 175%;
    }
  } */

@media (min-width: 640px) {
  .audience-top {
    display: flex;
  }
}

@media (min-width: 768px) {
  .platform-content {
    max-width: 944px;
  }

  .chips-wrapper {
    position: relative;
    left: 85px;
  }

  .mob-coverage-map-container {
    min-width: 560px;
    max-height: 591px;
  }

  .mob-coverage-map {
    width: 132%;
  }

  .legend-container {
    width: 100%;
    padding-left: 110px;
  }
}

@media (min-width: 834px) {
  .chips-wrapper {
    left: 60px;
  }

  .legend-container {
    padding-left: 80px;
  }
}

@media (min-width: 1024px) {
  .chips-wrapper {
    left: 80px;
  }

  .legend-container {
    padding-left: 65px;
  }

  .mob-coverage-map-container {
    min-width: 650px;
  }

  .mob-coverage-map {
    width: 115%;
  }
}

@media (min-width: 1400px) {
  .platform-content {
    display: flex;
    width: 1200px;
    max-width: 1200px;
    position: relative;
    right: 50px;
  }

  .plat-first {
    align-items: flex-start;
  }

  .chips-wrapper {
    left: 0;
  }

  .chips-container {
    padding-left: 0px !important;
    margin-right: 0px !important;
  }

  .top-chips {
    flex-direction: row;
    gap: 16px;
    text-align: center;
  }

  .top-chips div {
    flex-direction: column;
    width: 200px;
    height: 226px;
  }

  .top-chips div span {
    flex-direction: column;
    gap: 8px;
  }

  .top-chips div span p br {
    display: none;
  }

  .bottom-chips {
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
  }

  .bottom-chips div {
    flex-direction: row;
    width: 312px;
  }

  .chip-numbers {
    font-size: 39px;
    line-height: 46.8px;
  }

  .mob-coverage-map-container{
    display: none;
  }

  .coverage-map-container {
    display: block;
    min-width: 900px;
  }

  .coverage-map {
    width: 115%;
  }

  .legend-container {
    width: auto;
    padding-left: 0px;
  }

  .legend {
    min-width: 760px;
  }

  .audience-section {
    display: flex;
    justify-content: center;
  }

  .audience-wrapper {
    display: flex;
    width: 1200px;
  }

  .audience-imgs {
    position: relative;
    right: 10vw;
  }

  .audience-top {
    display: none;
  }

  .audience-side {
    display: flex;
  }

  .audience-content {
    position: relative;
    right: 10vw;
  }
}

@media (min-width: 1500px) {
  .audience-imgs {
    right: 22vw;
  }

  .audience-side {
    min-width: 580px;
  }

  .audience-content {
    right: 15vw;
  }
}

@media (min-width: 2000px) {
  .audience-wrapper {
    display: block;
    width: 1200px;
  }

  .audience-imgs {
    display: none;
  }

  .audience-content {
    right: 0;
  }
}

/* @media (min-width: 1728px) {
    .coverage-map-container {
      min-width: 740px;
    }

    .coverage-map {
      width: 140%;
    }
  } */

.hover\:brightness-110:hover {
  --tw-brightness: brightness(1.1);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px) {
  .sm\:m-\[8px\] {
    margin: 8px;
  }

  .sm\:mb-\[40px\] {
    margin-bottom: 40px;
  }

  .sm\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:w-\[150px\] {
    width: 150px;
  }

  .sm\:w-\[500px\] {
    width: 500px;
  }

  .sm\:max-w-\[65\%\] {
    max-width: 65%;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .sm\:py-\[24px\] {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .sm\:py-\[40px\] {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sm\:pt-\[16px\] {
    padding-top: 16px;
  }

  .sm\:pt-\[60px\] {
    padding-top: 60px;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-\[35px\] {
    font-size: 35px;
  }

  .sm\:leading-\[24px\] {
    line-height: 24px;
  }

  .sm\:leading-\[42px\] {
    line-height: 42px;
  }
}

@media (min-width: 768px) {
  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:m-\[16px\] {
    margin: 16px;
  }

  .md\:m-\[80px\] {
    margin: 80px;
  }

  .md\:mb-\[0px\] {
    margin-bottom: 0px;
  }

  .md\:mb-\[166px\] {
    margin-bottom: 166px;
  }

  .md\:mb-\[32px\] {
    margin-bottom: 32px;
  }

  .md\:mb-\[36px\] {
    margin-bottom: 36px;
  }

  .md\:mb-\[48px\] {
    margin-bottom: 48px;
  }

  .md\:ml-\[60px\] {
    margin-left: 60px;
  }

  .md\:mr-\[40px\] {
    margin-right: 40px;
  }

  .md\:mr-\[60px\] {
    margin-right: 60px;
  }

  .md\:mt-\[166px\] {
    margin-top: 166px;
  }

  .md\:mt-\[200px\] {
    margin-top: 200px;
  }

  .md\:mt-\[30px\] {
    margin-top: 30px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-\[400px\] {
    height: 400px;
  }

  .md\:h-\[750px\] {
    height: 750px;
  }

  .md\:h-\[90px\] {
    height: 90px;
  }

  .md\:w-\[200px\] {
    width: 200px;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[754px\] {
    width: 754px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:max-w-\[600px\] {
    max-width: 600px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-\[40px\] {
    gap: 40px;
  }

  .md\:gap-\[60px\] {
    gap: 60px;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .md\:py-\[40px\] {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .md\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md\:pl-\[40px\] {
    padding-left: 40px;
  }

  .md\:text-\[25px\] {
    font-size: 25px;
  }

  .md\:text-\[31px\] {
    font-size: 31px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:leading-\[30px\] {
    line-height: 30px;
  }

  .md\:leading-\[37px\] {
    line-height: 37px;
  }

  .md\:leading-\[42px\] {
    line-height: 42px;
  }

  .md\:\[grid-template-columns\:repeat\(auto-fit\2c minmax\(300px\2c 1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .lg\:mb-\[48px\] {
    margin-bottom: 48px;
  }

  .lg\:mt-\[300px\] {
    margin-top: 300px;
  }

  .lg\:h-\[544px\] {
    height: 544px;
  }

  .lg\:max-h-\[1052px\] {
    max-height: 1052px;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[825px\] {
    width: 825px;
  }

  .lg\:min-w-\[825px\] {
    min-width: 825px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-normal {
    justify-content: normal;
  }

  .lg\:gap-\[24px\] {
    gap: 24px;
  }

  .lg\:rounded-b-none {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .lg\:rounded-r-full {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }

  .lg\:px-\[0px\] {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-\[120px\] {
    padding-left: 120px;
    padding-right: 120px;
  }

  .lg\:px-\[90px\] {
    padding-left: 90px;
    padding-right: 90px;
  }

  .lg\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg\:pl-\[40px\] {
    padding-left: 40px;
  }

  .lg\:pr-\[0px\] {
    padding-right: 0px;
  }

  .lg\:pr-\[40px\] {
    padding-right: 40px;
  }

  .lg\:pt-\[24px\] {
    padding-top: 24px;
  }

  .lg\:pt-\[80px\] {
    padding-top: 80px;
  }

  .lg\:text-\[39px\] {
    font-size: 39px;
  }

  .lg\:text-\[56px\] {
    font-size: 56px;
  }

  .lg\:leading-\[46\.8px\] {
    line-height: 46.8px;
  }
}

@media (min-width: 1280px) {
  .xl\:mx-\[120px\] {
    margin-left: 120px;
    margin-right: 120px;
  }

  .xl\:mt-\[0px\] {
    margin-top: 0px;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:w-\[500px\] {
    width: 500px;
  }

  .xl\:w-\[600px\] {
    width: 600px;
  }

  .xl\:max-w-\[600px\] {
    max-width: 600px;
  }

  .xl\:max-w-full {
    max-width: 100%;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:items-end {
    align-items: flex-end;
  }

  .xl\:gap-\[0px\] {
    gap: 0px;
  }

  .xl\:gap-\[37px\] {
    gap: 37px;
  }

  .xl\:gap-\[80px\] {
    gap: 80px;
  }

  .xl\:px-\[120px\] {
    padding-left: 120px;
    padding-right: 120px;
  }

  .xl\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .xl\:pl-\[80px\] {
    padding-left: 80px;
  }

  .xl\:pr-\[120px\] {
    padding-right: 120px;
  }

  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-\[39px\] {
    font-size: 39px;
  }

  .xl\:leading-\[46\.8px\] {
    line-height: 46.8px;
  }
}

.\[\&\:\:-moz-range-thumb\]\:h-4::-moz-range-thumb {
  height: 1rem;
}

.\[\&\:\:-moz-range-thumb\]\:w-4::-moz-range-thumb {
  width: 1rem;
}

.\[\&\:\:-moz-range-thumb\]\:cursor-pointer::-moz-range-thumb {
  cursor: pointer;
}

.\[\&\:\:-moz-range-thumb\]\:rounded-\[16px\]::-moz-range-thumb {
  border-radius: 16px;
}

.\[\&\:\:-moz-range-thumb\]\:bg-\[\#9E2A2F\]::-moz-range-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(158 42 47 / var(--tw-bg-opacity, 1));
}

.\[\&\:\:-moz-range-track\]\:h-1::-moz-range-track {
  height: 0.25rem;
}

.\[\&\:\:-moz-range-track\]\:rounded-\[16px\]::-moz-range-track {
  border-radius: 16px;
}

.\[\&\:\:-webkit-slider-runnable-track\]\:h-1::-webkit-slider-runnable-track {
  height: 0.25rem;
}

.\[\&\:\:-webkit-slider-runnable-track\]\:rounded-\[16px\]::-webkit-slider-runnable-track {
  border-radius: 16px;
}

.\[\&\:\:-webkit-slider-thumb\]\:mt-\[-6px\]::-webkit-slider-thumb {
  margin-top: -6px;
}

.\[\&\:\:-webkit-slider-thumb\]\:h-4::-webkit-slider-thumb {
  height: 1rem;
}

.\[\&\:\:-webkit-slider-thumb\]\:w-4::-webkit-slider-thumb {
  width: 1rem;
}

.\[\&\:\:-webkit-slider-thumb\]\:cursor-pointer::-webkit-slider-thumb {
  cursor: pointer;
}

.\[\&\:\:-webkit-slider-thumb\]\:appearance-none::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
}

.\[\&\:\:-webkit-slider-thumb\]\:rounded-\[16px\]::-webkit-slider-thumb {
  border-radius: 16px;
}

.\[\&\:\:-webkit-slider-thumb\]\:bg-\[\#9E2A2F\]::-webkit-slider-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(158 42 47 / var(--tw-bg-opacity, 1));
}